.gallery-container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-auto-rows: 250px;
  max-width: 1100px;
  grid-auto-flow: dense;
  
  
  padding: 1rem;
  gap: 2rem;
}

.gallery-element img{

  width: 100%;
  height: 100%;
  object-fit:cover;
}
.gallery-element{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

}
.card-tall{

  grid-row: span 2 /auto;
}

.card-wide{

  grid-column: span 2 /auto;
}

@media (max-width:560px) {
  .card-tall{
    grid-row: span 1;
  }
  .card-wide{
    grid-column: span 1;
  }



  
}



