.home .user-header {
  border-bottom: 2px solid white;
 
  max-width: 1200px;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.home .user-header .image-info {
  justify-self: flex-start;

  margin-right: 2rem;
  width: 70%;
  display: flex;
  gap: 3rem;
  padding-left: 1rem;
  align-items: center;
  justify-content: start;
}
.home .user-header .image {
  
  width: 160px;
  
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .user-header .image img {
  border-radius: 50%;
  border: 4px solid var(--gold);
  width: 100%;
  object-fit: cover;
}
.home .user-header .image-info .info {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
.home .user-header .image-info .info .extra-info p {
  font-size: 1.2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.home .user-header .image-info .info .extra-info p span {
  font-weight: 900;
}
.home .user-header .image-info .info .username {
  display: flex;

  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}
.home .user-header .image-info .info .username p {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.home .user-header .image-info .info .username p span {
  font-size: 1.2rem;
  font-weight: bold;
}
.user-header .edit-delete {
    padding: 1rem;
  width: 30%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
 .edit-delete .child{
    font-size: 0.9rem;
    border-radius: 15px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    border: 2px solid white;
    width: 100px;
    height: 30px;
}
.edit-delete  .edit{
    background-color: var(--green);
}
.edit-delete .delete{
    background-color: brown;
}


@media (max-width: 550px) {
    .home .user-header {
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .home .user-header .image-info{
        width: 100%;
        margin-left: 2rem;
    
        align-items: center;
      justify-content: space-between;
    }
    .home .user-header .edit-delete{
        flex-direction: row;
        width: 100%;

    }


}